paulynomial-k8s-leader-01.yaml
paulynomial-k8s-leader-02.yaml
paulynomial-k8s-leader-03.yaml
paulynomial-k8s-worker-01.yaml
paulynomial-k8s-worker-02.yaml
talosconfig
paulynomial-k8s-worker-04.yaml
paulynomial-k8s-worker-03.yaml
