apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: default
  sources:
    - repoURL: https://helm.traefik.io/traefik
      targetRevision: 39.0.2
      chart: traefik
      helm:
        valuesObject:
          deployment:
            enabled: true
            kind: Deployment
            replicas: 2
          globalArguments:
            - "--global.checknewversion=false"
            - "--global.sendanonymoususage=false"
          ingressRoute:
            dashboard:
              enabled: false
          additionalArguments:
            - "--api.dashboard=true"
            - "--api.insecure=true"
            - "--entryPoints.web.forwardedHeaders.insecure=true"
            - "--entryPoints.websecure.forwardedHeaders.insecure=true"
          ports:
            web:
              port: 8000
              expose:
                default: true
              exposedPort: 80
              protocol: TCP
            websecure:
              port: 8443
              expose:
                default: true
              exposedPort: 443
              protocol: TCP
            traefik:
              port: 8080
              expose:
                default: true
              exposedPort: 8080
              protocol: TCP
          service:
            enabled: true
            type: LoadBalancer
          providers:
            kubernetesCRD:
              enabled: true
            kubernetesIngress:
              enabled: true
    - repoURL: https://github.com/paulkiernan/homelab
      targetRevision: main
      path: kubernetes/argocd/apps/infrastructure/traefik/manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
