apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: uptime-kuma
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  project: default
  sources:
    - chart: uptime-kuma
      repoURL: https://helm.irsigler.cloud
      targetRevision: 2.20.0
      helm:
        valuesObject:
          image:
            tag: 1.23.16
          ingress:
            enabled: true
            className: traefik
            annotations:
              cert-manager.io/cluster-issuer: letsencrypt-production
              external-dns.alpha.kubernetes.io/hostname: uptime.paulynomial.com
              traefik.ingress.kubernetes.io/router.middlewares: traefik-default-redirect-https@kubernetescrd
            hosts:
              - host: uptime.paulynomial.com
                paths:
                  - path: /
                    pathType: Prefix
            tls:
              - secretName: uptime-paulynomial-com-tls
                hosts:
                  - uptime.paulynomial.com
          volume:
            enabled: true
            accessMode: ReadWriteOnce
            size: 1Gi
            storageClassName: nas-nfs
    - repoURL: https://github.com/paulkiernan/homelab
      targetRevision: HEAD
      path: kubernetes/argocd/apps/monitoring/uptime-kuma/manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
