apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-dns
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: default
  sources:
    - path: kubernetes/argocd/apps/infrastructure/external-dns/manifests
      repoURL: https://github.com/paulkiernan/homelab
      targetRevision: HEAD
    - repoURL: https://kubernetes-sigs.github.io/external-dns/
      targetRevision: 1.19.0
      chart: external-dns
      helm:
        valuesObject:
          provider:
            name: webhook
            webhook:
              image:
                repository: ghcr.io/muhlba91/external-dns-provider-adguard
                tag: v11.0.0
              env:
                - name: LOG_LEVEL
                  value: debug
                - name: ADGUARD_URL
                  valueFrom:
                    secretKeyRef:
                      name: adguard-config
                      key: url
                - name: ADGUARD_USER
                  valueFrom:
                    secretKeyRef:
                      name: adguard-config
                      key: user
                - name: ADGUARD_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: adguard-config
                      key: password
                - name: DRY_RUN
                  value: "false"
              livenessProbe:
                httpGet:
                  path: /healthz
                  port: http-webhook
                initialDelaySeconds: 10
                timeoutSeconds: 5
              readinessProbe:
                httpGet:
                  path: /healthz
                  port: http-webhook
                initialDelaySeconds: 10
                timeoutSeconds: 5
          extraArgs:
            webhook-provider-url: http://localhost:8888
  destination:
    server: https://kubernetes.default.svc
    namespace: external-dns
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
