apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-dns
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: default
  sources:
    - path: kubernetes/argocd/apps/infrastructure/external-dns/manifests
      repoURL: https://github.com/paulkiernan/homelab
      targetRevision: HEAD
    - repoURL: https://kubernetes-sigs.github.io/external-dns/
      targetRevision: 1.19.0
      chart: external-dns
      helm:
        valuesObject:
          provider: cloudflare
          env:
            - name: CF_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: cloudflare-api-token-secret
                  key: api-token
          domainFilters:
            - home.paulynomial.com
          txtOwnerId: external-dns
  destination:
    server: https://kubernetes.default.svc
    namespace: external-dns
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
