---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: workloads-homepage
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/paulkiernan/homelab
    targetRevision: main
    path: kubernetes/argocd/apps/workloads/homepage
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
