---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: hajimari-tailscale
  namespace: hajimari
  annotations:
    tailscale.com/hostname: "hajimari"
spec:
  ingressClassName: tailscale
  defaultBackend:
    service:
      name: hajimari
      port:
        number: 3000
  tls:
    - hosts:
        - hajimari
