---
name: Renovate

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
    inputs:
      logLevel:
        description: "Override default log level"
        required: false
        default: "info"
        type: string
      overrideSchedule:
        description: "Override all schedules"
        required: false
        default: "false"
        type: string
  schedule:
    - cron: "0 */6 * * *"

jobs:
  renovate:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
      issues: write
      security-events: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.2.6
        with:
          configurationFile: .github/renovate.json5
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          LOG_LEVEL: ${{ inputs.logLevel || 'info' }}
          RENOVATE_AUTODISCOVER: "false"
          RENOVATE_ONBOARDING: "false"
          RENOVATE_PLATFORM: "github"
          RENOVATE_REPOSITORIES: ${{ github.repository }}
