---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: traefik
  namespace: traefik
  labels:
    app.kubernetes.io/name: traefik
  annotations:
    external-dns.alpha.kubernetes.io/hostname: traefik.home.lab
    hajimari.io/enable: "true"
    hajimari.io/appName: "Traefik Dashboard"
    hajimari.io/icon: "mdi:router-network"
    hajimari.io/group: "Infrastructure"
spec:
  ingressClassName: traefik
  rules:
    - host: "traefik.home.lab"
      http:
        paths:
          - backend:
              service:
                name: traefik
                port:
                  number: 8080
            path: /
            pathType: Prefix
    - host: "traefik.border-enigmatic.ts.net"
      http:
        paths:
          - backend:
              service:
                name: traefik
                port:
                  number: 8080
            path: /
            pathType: Prefix
